<html>
  <body>
  <b>CURRENT TIME:</b> <%= Time.now %>
  <hr>
  <b>CURRENT DATE:</b> <%= TestVar %>
  <hr>
  <b>CURRENT UPTIME:</b> <%= Uptime %>  
  <hr>
  <b>CURRENT LOAD:</b> <%= Load %> 
  <hr>
  <b>CURRENT ROOT DISK:</b> <%= Disk %>
  <hr>
  <b>CURRENT ARP TABLE:</b> <%= Arp %>
  <hr>
  </body>
</html>
